# Prerequisites
*.d
*.db

# Compiled Object Files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Fortran Module Files
*.mod
*.smod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Folders and Build Artifacts
x64/
*.log
*.tlog
*.ilk
*.pdb
*.idb

# Visual Studio Files and Folders
.vs/
Pokemon/.vs/Pokemon/v17/Browse.VC.db

# Windows System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Windows Installer Files
*.cab
*.msi
*.msix
*.msm
*.msp

# Linux System Files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
